{% extends "base.html" %}
{% block content %}
							<section>
								<header class="main" style="overflow: hidden;">
									<div class="title">
										<h1>Categories</h1>
									</div>
								</header>
								<div class="posts">
									{% for category, articles in categories %}
									<!-- Post -->
									<article>
										<header>
											<div class="title">
												<h3><a href="/{{ category.url }}">{{ category.name }}</a></h3>
											</div>
										</header>
										<footer>
											<ul class="actions">
												<li><a href="/{{ category.url }}" class="button big">More</a></li>
											</ul>
										</footer>
									</article>
									{% endfor %}
								</div>
							</section>
{% endblock %}